{% render 'partials/head.liquid' %}

{% render 'partials/header.liquid' %}

<main>
    <h1><strong>Projecten</strong> waar we trots op zijn!</h1>

    <ul class="all-projects">
        {% for case in cases %}
        <li>
            <a href="project/{{ case.id }}">
                <div>
                    <img alt="{{ case.title.rendered }}" src="{{ case.yoast_head_json.og_image[0].url }}" width="360" height="360" class="project-img" loading="lazy">
                </div>
                <article>
                    <h2>{{ case.title.rendered }}</h2>
                    <p>{{ case.content.rendered | strip_html | truncatewords: 32 }}</p>
                    <span>lees verder
                        <svg width="18" height="18" viewBox="0 0 16 12" xmlns="http://www.w3.org/2000/svg" fill="none">
                            <line x1="1" y1="6" x2="13" y2="6" stroke="currentColor" stroke-width="1"/>
                            <polyline points="9,2 13,6 9,10" stroke="currentColor" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </article>
            </a>
        </li>
        {% endfor %}
    </ul>

    <section class="next-page-buttons">
      <ol>
        {% if currentPage > 1 %}
          <li>
            <a href="/cases/page{{ currentPage | minus: 1 }}" class="button-pink" aria-label="vorige pagina">
              ←
            </a>
          </li>
        {% endif %}

        {% for page in (1..totalPages) %}
          <li>
            {% if page == currentPage %}
              <span class="active">{{ page }}</span>
            {% else %}
              <a href="/cases/page{{ page }}" class="button-pink">{{ page }}</a>
            {% endif %}
          </li>
        {% endfor %}

        {% if currentPage < totalPages %}
          <li>
            <a href="/cases/page{{ currentPage | plus: 1 }}" class="button-pink" aria-label="volgende pagina">
              →
            </a>
          </li>
        {% endif %}
      </ol>
    </section>
</main>

{% render 'partials/contact-section.liquid' %}

{% render 'partials/footer.liquid' %}